@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/ofont.ru_Avenir_Next.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F6FCFF;
}

.text-container {
    display: flex; /* Устанавливаем флекс-контейнер */
    gap: 10px;
}

.text-column {
    flex: 1; /* Каждая колонка занимает равное пространство */
    box-sizing: border-box; /* Учёт отступов в общей ширине */
}
